<!-- creating navbar -->
<header>
    <nav>
        <ul>

            <% for( let i=0; i < MENU.length; i++ ) { %>

                <a href="<%=MENU[i].link  %>">
                    <%=MENU[i].name%>
                </a>

                <% } %>
        </ul>

    </nav>

</header>